* {
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
  background-color: #111;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border: solid 1px white;
  color: white;
  padding: 8px;
}

button {
  background-color: #002351;
  color: #f6f6f6;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
